<h1>WHADDAP!</h1>

<form action="/blarghs" method="post">
  <input type="hidden" name="_method" value="put"/>
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name"
           placeholder="TYPE YO THOUGHTS HERE" >
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
